@model EControl.Models.Preco

@{
    ViewData["Title"] = "Delete";
    Layout = "~/Views/Shared/_LayoutiFrame.cshtml";
}

<main role="main" class="col-md-5 ml-sm-auto col-lg-12 px-4">

    <h2>Remover Serviço Diário</h2>
    <hr />
    <div class="col-md-3">
        <h4>Tem certeza de que deseja remover este serviço diário?</h4>
        <hr />
        <dl class="dl-horizontal">
            <dt>
                Serviço
            </dt>
            <dd>
                @Html.DisplayFor(model => model.IdServicoNavigation.Nome)
            </dd>
            <dt>
                Valor
            </dt>
            <dd>
                @Html.DisplayFor(model => model.Custo)
            </dd>
            <dt>
                Desconto
            </dt>
            <dd>
                <br />                
            </dd>
            <dt>
               Total
            </dt>
            <dd>
                <br />
            </dd>
            <dt>
                Funcionario
            </dt>
            <dd>
                @Html.DisplayFor(model => model.IdFuncionarioNavigation.Nome)
            </dd>            
        </dl>
        <form asp-action="Delete">
            <input type="hidden" asp-for="Id" />
            <input type="submit" value="Delete" class="btn btn-default" />
            <a asp-action="Index" class="btn btn-default">Voltar</a>
        </form>
    </div>
</main>