@model EControl.Models.UsuarioLogin

@{
    ViewData["Title"] = "Login";
    Layout = "~/Views/Shared/_LayoutLogin.cshtml";
}

<div style="margin:auto">
    <div>
        <form asp-action="Login" class="form-signin">
            <div class="img">
                <img class="mb-4" src="~/images/logo.jpg">
            </div>
            <div class="opa">
                <h1 class="h4 mb-4 font-weight-normal-"><br /><br />Por favor, insira suas credênciais<br /><br /></h1>
            </div>
            <input asp-for="Nome" type="email" id="inputEmail" class="form-control" placeholder="Email" required="" autofocus=""><br />
            <input asp-for="Senha" type="password" id="inputPassword" class="form-control" placeholder="Senha" required=""><br />
            <input class="btn btn-lg btn-primary btn-block" type="submit" value="entrar" />
        </form>
    </div>
</div>