@model EControl.Models.Fornecedor

@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_LayoutiFrame.cshtml";
}

<main role="main" class="col-md-5 ml-sm-auto col-lg-12 px-4">

    <h2>Preencha os Dados</h2>
    <hr />

    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label class="control-label">Nome da Empresa</label>
                <input asp-for="NomeEmp" class="form-control" />
                <span asp-validation-for="NomeEmp" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label class="control-label">Nome do Representante</label>
                <input asp-for="NomeRep" class="form-control" />
                <span asp-validation-for="NomeRep" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label class="control-label">CNPJ</label>
                <input asp-for="Cnpj" class="form-control" />
                <span asp-validation-for="Cnpj" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label class="control-label">Telefone Comercial 1</label>
                <input asp-for="TelefoneCom1" class="form-control" />
                <span asp-validation-for="TelefoneCom1" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label class="control-label">Telefone Comercial 2</label>
                <input asp-for="TelefoneCom2" class="form-control" />
                <span asp-validation-for="TelefoneCom2" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label class="control-label">Celular Comercial 1</label>
                <input asp-for="TelefoneCel1" class="form-control" />
                <span asp-validation-for="TelefoneCel1" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label class="control-label">Celular Comercial 2</label>
                <input asp-for="TelefoneCel2" class="form-control" />
                <span asp-validation-for="TelefoneCel2" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label class="control-label">Endereço</label>
                <input asp-for="Endereco" class="form-control" />
                <span asp-validation-for="Endereco" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label class="control-label">Descrição da Empresa</label>
                <input asp-for="DescricaoEmp" class="form-control" />
                <span asp-validation-for="DescricaoEmp" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Salvar" class="btn btn-default" />
                <a asp-action="Index" class="btn btn-default">Voltar</a>
            </div>
        </form>
    </div>
</main>
@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
