@using Microsoft.AspNetCore.Http;

@inject IHttpContextAccessor HttpContextAccessor

@{
    ViewData["Title"] = "Home Page";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!--buttons-->
<div style="width:750px; height:675px; overflow:hidden; margin: 0 auto; position:relative; margin-top:35px;">
    @{int? acesso = HttpContextAccessor.HttpContext.Session.GetInt32("Usuario.NivelDeAcesso"); }
    @if (acesso >= 1)
    {
        <a href="~/Clientes/Index" target="main"><div id="btn1" style="float:left"> <p> Clientes </p> </div> </a>
    }

    @if (acesso >= 3)
    {
        <a href="~/Caixa/Index" target="main"><div id="btn2" style="float:left"> <p> Caixa </p> </div> </a>
    }

    @if (acesso >= 1)
    {
        <a href="3.html" target="main"><div id="btn3" style="float:left"> <p> Agenda </p> </div> </a>
    }

    @if (acesso >= 3)
    {
        <a href="~/Fornecedor/Index" target="main"><div id="btn4" style="float:left"> <p> Fornecedor </p> </div> </a>
    }

    @if (acesso >= 2)
    {
        <a href="~/Servico/Index" target="main"><div id="btn5" style="float:left"> <p> Preços </p> </div> </a>
    }

    @if (acesso >= 3)
    {
        <a href="~/Funcionarios/Index" target="main"><div id="btn6" style="float:left"> <p> Funcionario </p> </div> </a>
    }

    @if (acesso >= 3)
    {
        <a href="~/Preco/Index" target="main"><div id="btn7" style="float:left"> <p> Add Servico </p> </div> </a>
    }

    @if (acesso >= 3)
    {
        <a href="~/Despesas/Index" target="main"><div id="btn8" style="float:left"> <p> Add Despesa </p> </div> </a>
    }


    <div id="content" style="position:absolute"><iframe name="main" frameborder="0" width="750" height="675"></iframe>  </div>
</div>

<!--footer-->
<div style="width:100%; height:80px; overflow:hidden; margin: 0 auto; background-color:#333; margin-top:20px; position: fixed; bottom:0; left:0;">
    <div style="width:750px; height:80px; margin: 0 auto;">
        <p style="text-align:center; color:#FFF; font-family:'Lucida Sans Unicode', 'Lucida Grande', sans-serif; font-size:x-small"> &copy; 2018 E-Control </p>
    </div>
</div>