@{
    ViewData["Title"] = "Login";
}
<div class="glyphicon-baby-formula">
    <div class="col-md-4 ">

        <form class="form-signin">
            <img class="mb-4" src="~/images/Gerenciador.png" alt="" width="230" height="200>
            <h1 class="h4 mb-4 font-weight-normal-"><font style="center-align: inherit;"><br /><br />Por favor, insira suas credênciais<br /><br /></font></h1>

            <input type="email" id="inputEmail" class="form-control" placeholder="Email" required="" autofocus=""><br />
            <input type="password" id="inputPassword" class="form-control" placeholder="Senha" required=""><br />

            <button class="btn btn-lg btn-primary btn-block" type="submit"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Entrar</font></font></button>
        </form>

    </div>
</div>
