<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <script type="text/javascript" src="~/js/TweenLite.min.js"></script>
    <script type="text/javascript" src="~/js/TweenMax.min.js"></script>
    <script type="text/javascript" src="~/js/jquery-1.8.3.min.js"></script>


    <title>E-Control</title>
    <style>
        body {
            margin: auto;
            background-color: #369;
            overflow: auto;
        }

        #btn1 {
            background: #06F;
            height: 200px;
            width: 200px;
            position: relative;
            margin-left: 10px;
            left: 900px;
            cursor: pointer;
            color: #FFF;
            font-size: 25px;
            font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
            line-height: 300px;
            padding-left: 10px;
            text-align: left;
        }

        #btn2 {
            background: #C30;
            height: 200px;
            width: 200px;
            position: relative;
            margin-left: 10px;
            left: 900px;
            cursor: pointer;
            color: #FFF;
            font-size: 25px;
            font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
            line-height: 300px;
            padding-left: 10px;
            text-align: left;
        }

        #btn3 {
            background: #F60;
            border-color: #F60;
            height: 200px;
            width: 200px;
            position: relative;
            margin-left: 10px;
            left: 900px;
            cursor: pointer;
            color: #FFF;
            font-size: 25px;
            font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
            line-height: 300px;
            padding-left: 10px;
            text-align: left;
        }

        #btn4 {
            background: #C3C;
            border-color: #F60;
            height: 200px;
            width: 200px;
            position: relative;
            margin-left: 10px;
            margin-top: 30px;
            left: 900px;
            cursor: pointer;
            color: #FFF;
            font-size: 25px;
            font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
            line-height: 300px;
            padding-left: 10px;
            text-align: left;
        }

        #btn5 {
            background: #F36;
            border-color: #F60;
            height: 200px;
            width: 200px;
            position: relative;
            margin-left: 10px;
            margin-top: 30px;
            left: 900px;
            cursor: pointer;
            color: #FFF;
            font-size: 25px;
            font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
            line-height: 300px;
            padding-left: 10px;
            text-align: left;
        }

        #btn6 {
            background: #6C0;
            height: 200px;
            width: 200px;
            position: relative;
            margin-left: 10px;
            margin-top: 30px;
            left: 900px;
            cursor: pointer;
            color: #FFF;
            font-size: 25px;
            font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
            line-height: 300px;
            padding-left: 10px;
            text-align: left;
        }

        #btn7 {
            background: #4169E1;
            height: 200px;
            width: 200px;
            position: relative;
            margin-left: 10px;
            margin-top: 30px;
            left: 900px;
            cursor: pointer;
            color: #FFF;
            font-size: 25px;
            font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
            line-height: 300px;
            padding-left: 10px;
            text-align: left;
        }

        #btn8 {
            background: #3CB371;
            height: 200px;
            width: 200px;
            position: relative;
            margin-left: 10px;
            margin-top: 30px;
            left: 900px;
            cursor: pointer;
            color: #FFF;
            font-size: 25px;
            font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
            line-height: 300px;
            padding-left: 10px;
            text-align: left;
        }

        #content {
            background: #369;
            height: 675px;
            width: 750px;
            position: relative;
            top: 675px;
            z-index: 0;
        }

        #backbutton {
            position: relative;
            left: 760px;
            cursor: pointer;
        }

        #caption {
            position: relative;
            top: -60px;
            color: #FFF;
            font-size: 25px;
            font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
        }

        #pagecaption {
            position: relative;
            top: -60px;
            color: #FFF;
            font-size: 25px;
            font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
        }
    </style>
</head>

<body>

    <!--header-->
    <div style="width:100%; height:80px; overflow:hidden; margin: auto; background-color:#333">
        <div style="width:750px; height:80px; margin: 0 auto; overflow:hidden; position:relative">
            <div id="caption" style="height:44px; margin-top:20px;float:left; margin-left:12px; position:absolute"> E-Control </div>
            <div id="backbutton" style="height:44px; width:44px; margin-top:15px; float:left; position:absolute"> <img src="~/images/backbtn.png" width="44" height="44" /> </div>
            <div id="pagecaption" style="height:44px; margin-top:20px;float:left; margin-left:12px; position:absolute"> Caption </div>
        </div>
    </div>

    @RenderBody()
    
    <script type="text/javascript">
        $(document).ready(function () {
            TweenLite.to($("#caption"), 2, { css: { top: 0 }, delay: 1, ease: Power2.easeOut });
            TweenLite.to($("#btn1"), 2, { css: { left: 0 }, delay: 2, ease: Power2.easeOut });
            TweenLite.to($("#btn2"), 2, { css: { left: 20 }, delay: 2.5, ease: Power2.easeOut });
            TweenLite.to($("#btn3"), 2, { css: { left: 40 }, delay: 3, ease: Power2.easeOut });
            TweenLite.to($("#btn4"), 2, { css: { left: 0 }, delay: 3.5, ease: Power2.easeOut });
            TweenLite.to($("#btn5"), 2, { css: { left: 20 }, delay: 4, ease: Power2.easeOut });
            TweenLite.to($("#btn6"), 2, { css: { left: 40 }, delay: 4.5, ease: Power2.easeOut });
            TweenLite.to($("#btn7"), 2, { css: { left: 0 }, delay: 5, ease: Power2.easeOut });
            TweenLite.to($("#btn8"), 2, { css: { left: 20 }, delay: 5.5, ease: Power2.easeOut });

        });

        $("#btn1").click(function () {
            TweenLite.to($("#content"), 0.5, { css: { top: 0 }, ease: Power2.easeOut });
            TweenLite.to($("#backbutton"), 1, { css: { left: 650, rotation: -180 }, ease: Power2.easeOut });
            TweenLite.to($("#pagecaption"), 1, { css: { top: 0 }, ease: Power2.easeOut });
            TweenLite.to($("#caption"), 1, { css: { top: 90 }, ease: Power2.easeOut });
            $("#pagecaption").text("Clientes Cadastrados");
        });

        $("#btn2").click(function () {
            TweenLite.to($("#content"), 0.5, { css: { top: 0 }, ease: Power2.easeOut });
            TweenLite.to($("#backbutton"), 1, { css: { left: 650, rotation: -180 }, ease: Power2.easeOut });
            TweenLite.to($("#pagecaption"), 1, { css: { top: 0 }, ease: Power2.easeOut });
            TweenLite.to($("#caption"), 1, { css: { top: 90 }, ease: Power2.easeOut });
            $("#pagecaption").text("Serviços Financeiros");
        });

        $("#btn3").click(function () {
            TweenLite.to($("#content"), 0.5, { css: { top: 0 }, ease: Power2.easeOut });
            TweenLite.to($("#backbutton"), 1, { css: { left: 650, rotation: -180 }, ease: Power2.easeOut });
            TweenLite.to($("#pagecaption"), 1, { css: { top: 0 }, ease: Power2.easeOut });
            TweenLite.to($("#caption"), 1, { css: { top: 90 }, ease: Power2.easeOut });
            $("#pagecaption").text("Agenda do Diária")
        });

        $("#btn4").click(function () {
            TweenLite.to($("#content"), 0.5, { css: { top: 0 }, ease: Power2.easeOut });
            TweenLite.to($("#backbutton"), 1, { css: { left: 650, rotation: -180 }, ease: Power2.easeOut });
            TweenLite.to($("#pagecaption"), 1, { css: { top: 0 }, ease: Power2.easeOut });
            TweenLite.to($("#caption"), 1, { css: { top: 90 }, ease: Power2.easeOut });
            $("#pagecaption").text("Fornecedores Cadastrados");
        });

        $("#btn5").click(function () {
            TweenLite.to($("#content"), 0.5, { css: { top: 0 }, ease: Power2.easeOut });
            TweenLite.to($("#backbutton"), 1, { css: { left: 650, rotation: -180 }, ease: Power2.easeOut });
            TweenLite.to($("#pagecaption"), 1, { css: { top: 0 }, ease: Power2.easeOut });
            TweenLite.to($("#caption"), 1, { css: { top: 90 }, ease: Power2.easeOut });
            $("#pagecaption").text("Serviços Cadastrados");
        });

        $("#btn6").click(function () {
            TweenLite.to($("#content"), 0.5, { css: { top: 0 }, ease: Power2.easeOut });
            TweenLite.to($("#backbutton"), 1, { css: { left: 650, rotation: -180 }, ease: Power2.easeOut });
            TweenLite.to($("#pagecaption"), 1, { css: { top: 0 }, ease: Power2.easeOut });
            TweenLite.to($("#caption"), 1, { css: { top: 90 }, ease: Power2.easeOut });
            $("#pagecaption").text("Funcionarios Cadastrados");
        });

        $("#btn7").click(function () {
            TweenLite.to($("#content"), 0.5, { css: { top: 0 }, ease: Power2.easeOut });
            TweenLite.to($("#backbutton"), 1, { css: { left: 650, rotation: -180 }, ease: Power2.easeOut });
            TweenLite.to($("#pagecaption"), 1, { css: { top: 0 }, ease: Power2.easeOut });
            TweenLite.to($("#caption"), 1, { css: { top: 90 }, ease: Power2.easeOut });
            $("#pagecaption").text("Adicionar um Serviço");
        });

        $("#btn8").click(function () {
            TweenLite.to($("#content"), 0.5, { css: { top: 0 }, ease: Power2.easeOut });
            TweenLite.to($("#backbutton"), 1, { css: { left: 650, rotation: -180 }, ease: Power2.easeOut });
            TweenLite.to($("#pagecaption"), 1, { css: { top: 0 }, ease: Power2.easeOut });
            TweenLite.to($("#caption"), 1, { css: { top: 90 }, ease: Power2.easeOut });
            $("#pagecaption").text("Adicionar um Gastos");
        });

        $("#backbutton").click(function () {
            TweenLite.to($("#content"), 1, { css: { top: 675 }, ease: Power2.easeIn });
            TweenLite.to($("#backbutton"), 1, { css: { left: 760, rotation: 0 }, ease: Power2.easeIn });
            TweenLite.to($("#pagecaption"), 1, { css: { top: -60 }, ease: Power2.easeOut });
            TweenLite.to($("#caption"), 1, { css: { top: 0 }, ease: Power2.easeOut });
        });
    </script>

    @RenderSection("Scripts", required: false)

</body>
</html>
