<!DOCTYPE html>

<html>
<head>
    <style type="text/css">
        body {
            background-color: #369;
        }

        .main {
            margin: 0 auto;
            width: 516px;
            background-color:white;
            padding: 10px;
            
        }

        @@media only screen and (max-width: 767px) {
            .main {
                margin: 0 auto;
                width: 300px;
            }
        }

        .opa {
            color: black;
            text-align: center;
        }

        img {
            width: 380px;
            height: 250px;
        }
    </style>

    <meta charset="utf-8">
    <title>@ViewBag.Title</title>
    <environment include="Development">
        <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
        <link rel="stylesheet" href="~/css/site.css" />
    </environment>
    <environment exclude="Development">
        <link rel="stylesheet" href="https://ajax.aspnetcdn.com/ajax/bootstrap/3.3.7/css/bootstrap.min.css"
              asp-fallback-href="~/lib/bootstrap/dist/css/bootstrap.min.css"
              asp-fallback-test-class="sr-only" asp-fallback-test-property="position" asp-fallback-test-value="absolute" />
        <link rel="stylesheet" href="~/css/site.min.css" asp-append-version="true" />
    </environment>

    <link rel="stylesheet" href="~/cubo/css/style.css">
    <script src="~/cubo/js/libs/modernizr-1.7.min.js"></script>

</head>
<body class="bg bg-primary">

    <div class="main">
        @RenderBody()
    </div>

</body>
</html>
